module.exports = {
  networks: {
    localterra: {
      lcdUrl: 'http://localhost:1317',
      chainID: 'localterra',

      // Set to the address of the LBP factory contract on your localterra
      factoryContractAddress: '',

      gasPrices: { uusd: 0.15 },

      allowedPairContracts: [
        // List your pair contract addresses here
      ]
    }
  }
}
