@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white font-medium;

  background-image: url(./assets/images/background.png);
  background-size: cover;
  font-family: 'Inter', sans-serif;
}

.btn-primary {
  @apply bg-primary;
}

.btn-disabled {
  @apply bg-gray-400 cursor-not-allowed text-black;
}

.text-secondary {
  @apply opacity-50 text-xs;
}
